<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django CRM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <br>
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning">
          {{message}} 
        </div>
        {% endfor %}
        
      {% endif %}
      {% block content %}
        <h1>Hello, world!</h1>
      {% endblock content %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>